@(message: String, booklist: List[Book], username: String)

@main("Books") {
	<style type="text/css">
		.page-header {
			margin-top: 50px;
		}
	</style>
    <div class="page-header">
	  <h1>Books</h1>
	</div>
	<div></div>
	<div class="row" style="margin-top:50px;">
		<div class="panel panel-default">
		  <!-- Default panel contents -->
		  <div class="panel-heading">Books</div>

		  <!-- Table -->
	  	<table class="table">
	  		<thead>
	  			<tr>
	  				<th>Book Name</th>
	  				<th>Book Isbn</th>
	  				<th></th>
	  			</tr>
	  		</thead>
	  		@for(b <- booklist) {
	  			<tr>
						<td><a href="/books/@b.isbn">@b.name</a></td>
	  				<td>@b.isbn</td>
	  				<td><a class='btn btn-primary' href='@routes.Notifications.createPage(b.isbn, b.name)'>Create Notification</a></td>
	  			</tr>
  			}
  		</table>
		</div>
	</div>
}
