@(message: String)

@main("Search for a book") {
	<style type="text/css">
		.page-header {
			margin-top: 50px;
		}
	</style>
    <div class="page-header">
	  <h1>Search For Books to Sell</h1>
	</div>
	<div></div>
	<div class="row">
	  <div class="col-lg-6">
	    <div class="input-group">
	      <input type="text" class="form-control" placeholder="Search for...">
	      <span class="input-group-btn">
	        <button class="btn btn-default" type="button">Search</button>
	      </span>
	    </div><!-- /input-group -->
	  </div><!-- /.col-lg-6 -->
	</div><!-- /.row -->
	<div class="row">
		<div class="panel panel-default">
		  <!-- Default panel contents -->
		  <div class="panel-heading">Panel heading</div>

		  <!-- Table -->
		  <table class="table">
		    ...
		  </table>
		</div>
	</div>
    
}
