@(notifs: List[HashMap[String, String]])

@main("Notifications") {
	<style type="text/css">
		.page-header {
			margin-top: 50px;
		}
	</style>
	<div class="jumbotron">
	  <h1>COMING SOON</h1>
	  <p>The feature that will you notify you when a vendor will offer a high enough price for your book is coming soon.
	  <p>For now you can see what notifications you currently have set, but when this feature is released, these notifications will alert you when you get the price of the book you want. Don't worry we have enough queries.</p>
	</div>
	<div class="row">
		<div class="panel panel-primary">
		  <div class="panel-heading">Set Notifications</div>

		  <table class="table">
		  		<thead>
		  			<tr>
		  				<th>Book Name</th>
		  				<th>Book Isbn</th>
		  				<th>Price</th>
		  				<th>Date Set</th>
		  				<th>Date Notified</th>
		  			</tr>
		  		</thead>
		  		@for(n <- notifs) {
	  				<tr>
	  					<td>@n.get("name")</td>
	  					<td>@n.get("isbn")</td>
	  					<td>@n.get("price")</td>
	  					<td>@n.get("date_set")</td>
	  					<td>@n.get("date_notified")</td>
	  				</tr>
				}
		  </table>
		</div>
	</div>
    
}
