@(username: String)(sales: java.util.ArrayList[java.util.HashMap[String,String]])

@main("BookSmarts") {
<h2>Sales for @username</h2>
<p>Books you've sold, who you sold them to, and for how much!</p>
<table class="table table-hover">
	<thead>
		<tr>
			<th>Book</th>
			<th>Vendor</th>
			<th>Price</th>
			<th>Date</th>
		</tr>
	</thead>
	<tbody>

		@for(sale <- sales) {
			<tr>
				<td><a href='/books/@sale.get("isbn")'>@sale.get("book")</a></td>
				<td><a href='/vendors/@sale.get("vendor")'>@sale.get("vendor")</a></td>
				<td>$@sale.get("price")</td>
				<td>@sale.get("sold_at")</td>
			</tr>
		}
	</tbody>
</table>
}
